@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    font-family: sans-serif;

}


.container {
    display:flex;
    justify-content: center;
    gap:10px;
    margin-top:25px;
    

}
.game-window {
    border: 1px solid black;
    width:500px;
    height: 300px;
    overflow:auto;
    box-shadow: 8px 7px 0px 3px #020202;
    background-color: white;
}

.information {
    margin:5px;
    margin-top:10px;
    color: black;
    font-family: 'Handjet', cursive;
    font-size: 23px;
    border-bottom: black solid 1px;
}

.score {
    margin:5px;
    margin-top:10px;
    color: black;
    font-family: 'Handjet', cursive;
    font-size: 20px;
    text-align: center;
    
}
.score:first-child{
    color:Darkred;
}
.score:last-child{
    border-bottom:blac solid 3px;
}
.button-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;

}

button {
    height:50px;
    border: 1px solid black;
    background-color:white;
    box-shadow: 3px 3px 0px 3px #020202;
    user-select: none;
    cursor: pointer;
    font-family: 'Handjet',monospace;
    
}

.button-new-game{
    margin-top:auto
}

