@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    display:flex;
    justify-content: center;
    gap:10px;
    

}
.game-window {
    border: 1px solid black;
    width:500px;
    height: 300px;
    overflow:scroll;
    box-shadow: 8px 7px 0px 3px #020202;
    background-color: white;
}

.information {
    margin:5px;
    margin-top:10px;
    color: black;
    font-family: 'Handjet', cursive;
    font-size: 20px;
    border-bottom: black solid 1px;
}

.button-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;

}

button {
    height:50px;
    border: 1px solid black;
    background-color:white;
    box-shadow: 3px 3px 0px 3px #020202
}

.button-clear{
    margin-top:auto
}